repos:
  - repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
    - id: black
      exclude: ^tests/.*
      language_version: python3.11
      require_serial: true
      stages: [pre-commit]
      args:
        - --line-length=120
        - api/src/

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        exclude: ^tests/.*
        require_serial: true
        stages: [pre-commit]
        files: ^api/.*\.py$
        args:
          - --config=api/.flake8

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy --config-file api/mypy.ini --show-error-codes
        args: ['api/src/']
        types: [python]
        files: ^api/src/
        pass_filenames: false
        always_run: true
        require_serial: true
        language: system
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: pylint
        exclude: ^tests/.*
        name: pylint
        entry: pylint
        language: system
        require_serial: true
        types: [python]
        args:
          - -rn
          - -sn
          - --rcfile=api/.pylintrc

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
      - id: bandit
        args:
          - -c
          - api/bandit.yaml
          - -r
          - api/src

  - repo: local
    hooks:
      - id: requirements
        name: requirements
        entry: powershell -Command "& 'venv/Scripts/python.exe' -m pip freeze > 'api/requirements.txt'; git add 'api/requirements.txt'"
        language: system
        pass_filenames: false
        stages: [pre-commit]
        require_serial: true

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        require_serial: true
        entry: .\venv\Scripts\pytest.exe -m -v tests/
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-push]
