repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: venv/Scripts/black.exe api
        language: system
        types: [python]
        args: [--line-length=120]

      - id: isort
        name: isort
        entry: venv/Scripts/isort.exe api
        language: system
        types: [python]

      # - id: pylint
      #   name: pylint
      #   entry: venv/Scripts/pylint.exe api
      #   language: system
      #   pass_filenames: true
      #   stages: [commit]
      #   args: ["--rcfile=api/.pylintrc", "--output-format=colorized"]

      # - id: flake8
      #   name: flake8
      #   entry: venv/Scripts/flake8.exe
      #   language: system
      #   types: [python]
      #   args: [--max-line-length=120, --extend-ignore=E203,W503]
      #   files: ^api/.*\.py$  # â† Apenas arquivos .py dentro de api/

      # - id: mypy
      #   name: mypy
      #   entry: venv/Scripts/mypy.exe
      #   language: system
      #   types: [python]
      #   args: [--config-file=api/mypy.ini]


      - id: requirements
        name: requirements
        entry: powershell -Command "venv\Scripts\python.exe -m pip freeze > api\requirements.txt; git add api\requirements.txt"
        language: system
        pass_filenames: false
