:root {
    --color-surface-default: rgba(243, 112, 33, 1);
    --color-background-1: rgba(29, 29, 29, 1);
    --color-background-2: rgba(29, 29, 29, .7);
    --color-surface-overlay: rgba(71, 71, 71, .8);
  
    --color-text-default: rgba(164, 172, 188, 1);
    --color-text-title: rgba(255, 255, 255, 1);
  
    --image-logo-main: url("./assets/logo.png");
}


body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
}

* {
    font-family: 'Poppins', sans-serif;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin flex-space-between{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}   

@mixin flex-center-top {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
}

@mixin flex-left-top {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
}

@mixin flex-right-top {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}

@mixin flex-space-between-column{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
}   

@mixin font-size-small {
    font-size: clamp(12px, 1.2vh, 15px)!important;
}

@mixin font-size-medium {
    font-size: clamp(15px, 1.5vh, 18px)!important;
}

@mixin font-size-larger {
    font-size: clamp(18px, 1.7vh, 20px)!important;
}


@mixin shadow-bottom {
    box-shadow: 0 -10px 15px 0 var(--color-text-default);
}

@mixin shadow-bottom-left {
    box-shadow: 0 -10px 15px 0 var(--color-text-default);
}

@mixin padding-1 {
    padding: clamp(4px, 1vh, 8px);
}

@mixin padding-2 {
    padding: clamp(8px, 2vh, 16px);
}
@mixin padding-3 {
    padding: clamp(12px, 3vh, 24px);
}
@mixin padding-4 {
    padding: clamp(16px, 4vh, 32px);
}

@mixin gap-1 {
    gap: clamp(4px, 1vh, 8px);
}

@mixin gap-2 {
    gap: clamp(8px, 2vh, 16px);
}

@mixin gap-3 {
    gap: clamp(12px, 4vh, 24px);
}

@mixin border-radius-1 {
    border-radius: clamp(4px, 1vh, 8px);
}

@mixin border-radius-2 {
    border-radius: clamp(8px, 2vh, 16px);
}

@mixin border-radius-3 {
    border-radius: clamp(16px, 3vh, 32px);
}



