.logo-content{
    height: 3rem;
    width: 6rem;
    background-image: url('../../../../assets/images/logo-efi-bank-orange.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}